<h1>New List</h1>

<div class="row">
  <%= simple_form_for @list do |f| %>
    <div class="input-field">
      <%= f.input :title %>
    </div>
    
    <div class="col s12">
      <%= f.collection_check_boxes :contact_ids, @contacts, :id, 
          :address_formatted_address, :prompt => "Select a Contact",
          multiple: true %>
    </div>
    <div class="input-field">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
