/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize/components/color";

$primary-color: #3AAFA9 !default;
$secondary-color: #17252A !default;
$navbar-font-color: $primary-color;
$link-color: $primary-color;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


a:hover {
  color: #2B7a78!important;
}

#nav {
  box-shadow: none;
}

.sidebar-wrapper li a {
  flex-direction: column;
  padding-bottom: 2em;
  color: #ddd;
  display: flex;
  align-items: center;
}

.current {
  color: $primary-color!important;
}

.square-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}
.square-icon {
  display: flex;
  flex-direction: column;
  border:  solid 1px $primary-color;
  align-items: center;
  width: 32%;
  padding: 2em  0;
  a {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
  }
}

@media only screen and (max-width: 600px)   {
  .square-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .square-icon {
    margin-bottom: 1em;
    width: 50%;
  }

  h2 {
    font-size: 2.5em;
    text-align: center;
  }
}